[Desktop Entry]
Name=WebCord
Comment=A Discord and SpaceBar Electron-based client implemented without Discord API
GenericName=Internet Messenger
Exec=webcord --ozone-platform=wayland --ozone-hint=wayland %U
Icon=webcord
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;

