[Unit]
Description="RClone for google drive"
After=network-online.target
After=gvfs-udisks2-volume-monitor.service
BindsTo=default.target

[Service]
ExecStart=rclone mount G: %h/Remote/GDrive --vfs-cache-mode full

[Install]
WantedBy=default.target
