[Unit]
Description="Thunar file manager"
After=graphical-session.target
After=gvfs-daemon.service
After=xdg-desktop-portal.service
BindsTo=graphical-session.target

[Service]
ExecStart=/usr/bin/thunar --daemon

[Install]
WantedBy=graphical-session.target
