[Desktop Entry]
Name=awakened-poe-trade
Exec=/usr/bin/awakened-poe-trade --no-overlay
Icon=/usr/share/pixmaps/awakened-poe-trade.ico
Type=Application
