[Unit]
After=network-online.target
Description=Make a network namespace called "passthrough" seperate to the main namespace
BindsTo=network-online.target

[Service]
ExecStart=/opt/network-passthrough/mainLoop.bash

[Install]
WantedBy=default.target
